@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

/* --- Base --- */

@layer base {
  body {
    @apply bg-white font-Inter text-base text-neutral-dark font-normal;
  }

  h1 {
    @apply font-semibold text-2xl xs:text-3xl md:text-4xl md:font-bold;
  }

  h2 {
    @apply font-semibold text-xl xs:text-2xl sm:text-3xl  md:text-[32px] md:leading-normal md:font-bold;
  }
}

/* --- Components --- */

@layer components {
  .scroll-x-primary::-webkit-scrollbar {
    @apply bg-gray-light h-0.5 rounded-full;
  }

  .scroll-x-primary::-webkit-scrollbar-thumb {
    @apply bg-primary-default/70 rounded-full;
  }

  .scroll-x-primary:hover::-webkit-scrollbar-thumb {
    @apply bg-primary-default;
  }

  .btn {
    @apply flex items-center justify-center gap-2.5 rounded-lg font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply btn bg-primary-default rounded-lg text-white hover:bg-primary-default/80;
  }

  .btn-stroke {
    @apply btn border border-gray-200 hover:bg-gray-light;
  }
}

.main-layout-tabs a {
  color: #999999;
}

.main-layout-tabs a.active {
  color: #0085ff;
}

.products-layout-tabs a.active {
  background: #0085ff;
  color: white;
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-7xl w-full px-3.5 mx-auto sm:px-4 md:px-5;
  }
}

/* Clears the ‘X’ from search input */
:is(input[type="search"])::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}