@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

/* --- Base --- */

@layer base {
  body {
    @apply bg-white font-Inter text-base text-neutral-dark font-normal;
  }

  h2 {
    @apply text-[32px] leading-normal font-bold;
  }
}

/* --- Components --- */

@layer components {
  .btn {
    @apply flex items-center justify-center gap-2.5 rounded-lg font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply btn bg-primary-default rounded-lg text-white hover:bg-primary-default/80;
  }

  .btn-stroke {
    @apply btn border border-gray-200 hover:bg-gray-light;
  }
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-7xl w-full px-5 mx-auto;
  }
}
